<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slide.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slide.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
