<p id="notice"><%= notice %></p>

<p>
  <strong>Title website:</strong>
  <%= @setting.title_website %>
</p>

<p>
  <strong>Title travel:</strong>
  <%= @setting.title_travel %>
</p>

<p>
  <strong>Title event:</strong>
  <%= @setting.title_event %>
</p>

<p>
  <strong>Title footer:</strong>
  <%= @setting.title_footer %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
